head
  meta(charset='utf-8')
  title #{title}
  link(rel="stylesheet", href="/stylesheets/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/leaflet.ie.css")
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="http://mapmeld.appspot.com/gridtest?action=read&id=#{archiveID}")
  script(type="text/javascript", src="/scripts/jquery.min.js")
  script(type="text/javascript", src="/scripts/bootstrap-modal.js")
  script(type="text/javascript", src="/scripts/bootstrap-dropdown.js")
  script(type="text/javascript", src="/scripts/gridmap.js")
  link(href="/stylesheets/bootstrap-2.css", rel="stylesheet")
  link(href="/stylesheets/style.css", rel="stylesheet")

body


  div#map-container
    #map

  div#archiveCheck.modal(style="display:none;")
    .modal-header
      a.close(data-dismiss="modal") ×
      h3 Confirm changes to map

    .modal-body
      p Archive this map as http://gridmapper.heroku.com/archive/
      span#archiveID
      span ?
      br
      br
      a(href="http://mapmeld.appspot.com/gridtest?action=archive", target="_blank") More Archives
     
    .modal-footer
      a.btn.btn-primary(href="#", onclick="archiveMapConfirm()") Archive/Clear
      a.btn(href="#", onclick="$('#archiveCheck').modal('hide')") No