head
  meta(charset='utf-8')
  title #{title}
  link(rel="stylesheet", href="/stylesheets/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/leaflet.ie.css")
  script(type="text/javascript", src="/scripts/leaflet.js")
  script(type="text/javascript", src="/scripts/tilelayer.bing.js")
  script(type="text/javascript", src="/scripts/jquery.min.js")
  script(type="text/javascript", src="/scripts/bootstrap-modal.js")
  script(type="text/javascript", src="/scripts/bootstrap-dropdown.js")
  script(type="text/javascript", src="/scripts/gridmap.js")
  link(href="/stylesheets/bootstrap-2.css", rel="stylesheet")
  link(href="/stylesheets/style.css", rel="stylesheet")

body
  div#column
    .clear
    #branding
      .knol(style="width:100%;")
        img(src="#{mapUserPic}", style="margin-left:30%;margin-right:30%;width:40%;")

    .clear
    
    #explain
      h2 Switch Map

      .btn-group
        a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
          span#layerLabel Wind Layer
          span.caret

        ul.dropdown-menu
          li
            a#windButton(href="#", onclick="loadWindMap()") Wind Layer
          li
            a#floodButton(href="#", onclick="loadFloodMap()") Flood Layer
          li
            a#clearButton(href="#", onclick="clearMap()") Hide Grid

      br
      span.label.label-info County
      input#countyLayer(type="checkbox", onclick="toggle(this)", checked="checked")
      br
      span.label.label-info Wards
      input#wardLayer(type="checkbox", onclick="toggle(this)", checked="checked")
      br
      br
      a#clearButton.btn(href="#", onclick="archiveMap()") Archive/Clear
      br
      br
      a(href="http://gridmapauth.herokuapp.com/gridtest?action=archive") See Archived

      div#squareedit
        h2 Update Square
        #insertDropdownBox
          span.label.label-info Name
          br
            
        .knol
          span.label.label-info Wind
          br
          select#wind_level(disabled="disabled", onchange="reportLevel(this)")
            option(value="0", selected="selected") 0- No damage
            option(value="1") 1- Minor
            option(value="2") 2- Moderate
            option(value="3") 3- Severe
            option(value="4") 4- Catastrophic
            
        .knol
          span.label.label-info Flood
          br
          select#flood_level(disabled="disabled", onchange="reportLevel(this)")
            option(value="0", selected="selected") 0- No damage
            option(value="1") 1- Minor
            option(value="2") 2- Moderate
            option(value="3") 3- Severe
            option(value="4") 4- Catastrophic

  div#map-container
    #map

  div#archiveCheck.modal(style="display:none;")
    .modal-header
      a.close(data-dismiss="modal") ×
      h3 Confirm changes to map

    .modal-body
      p Archive this map as http://gridmapauth.heroku.com/?archiveid=
      span#archiveID
      span ?
      br
      br
      a(href="/gridtest?action=archive", target="_blank") More Archives
     
    .modal-footer
      a.btn.btn-primary(href="#", onclick="archiveMapConfirm()") Archive/Clear
      a.btn(href="#", onclick="$('#archiveCheck').modal('hide')") No